/* App styles */

.block--users {
    overflow-y: scrool;
}
.block--users ul {
    padding-left: 0;
    list-style-type: none;
}

.block--users li {
    margin-bottom: 8px;
    padding: 4px 10px;
    cursor: pointer;
}

.block--channels {
    overflow-y: scrool;
}

.block--channels ul {
    padding-left: 0;
    list-style-type: none;
}

.block--channels li {
    margin-bottom: 8px;
    padding: 4px 10px;
    cursor: pointer;
}

.block--channels li.active {
    background-color: #222;
    color: white;
}